File Storage Examples.json
[{"id":"cf6c3a0f.41ff38","type":"tab","label":"2) File Storage Examples","disabled":false,"info":""},{"id":"5786efd4.309a9","type":"group","z":"cf6c3a0f.41ff38","name":"Pinging servers - We will use this data to carry on from example 1 and store the data in a file (note how the \"change\" node & \"template\" node almost perform the same functions)","style":{"stroke":"#777777","fill":"#bfdbef","label":true,"label-position":"ne","color":"#000000"},"nodes":["c83e9e07.9edc6","5137a604.ef3da8","db49c3b2.e3c4b","7c1046bc.968db8","95db91d4.e68b2","1a255a53.1bdb86","6d887d3e.62cc14","67f3369.07c9ec8","6ddaf59a.eedb8c","b208c62f.a00e18","9ebed3b.b1f1c3","97fd766.2fc3288","2b800a56.fce076","e08ebfe9.80e0f","244a831c.0d9eac","eea8e1c5.5d85f","e1d38a0e.5c5518","c2634d9a.6de05","9ad05573.2635b8","e136248b.753f08","b0a3815a.0e472","ad68294d.513c98","9fc8cf12.885cc","29b26c36.fb73c4","f74b3082.6c45f","4ae9f328.d697bc","2b09f12e.2bce8e","d870601.f89d3a","a644610b.ddf2","9ed2d7b2.6583b8","fd5ae937.f04258"],"x":34,"y":299,"w":1102,"h":682},{"id":"72fc0310.ebbadc","type":"group","z":"cf6c3a0f.41ff38","name":"Example 1 - Store the node red timestamp to a file & read it","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["227e0772.aa4c58","422c6c22.3c5d34","eaf87de3.2dc45","d5cd91f5.bc18a","6e979f8c.9c3ee","24c4a6c3.176e1a","a595f9de.3786b8","e5f6e8f0.628e18"],"x":34,"y":39,"w":912,"h":222},{"id":"df4d3d56.6df8c","type":"group","z":"cf6c3a0f.41ff38","name":"Example - 3 - Lets get rid of the text and start storing the data as fields so that we could manipulate them with databases or spreadsheets","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["3721e02e.70396","4a4975a5.968a2c","c099d539.23ff08","3cb4073b.58de58","d79f8714.c22aa8","89aacac5.78d3c8","84bd1bb5.8c3598","d025a89f.3fccf8","1395ae5d.0b9c32","eca99623.643448","500453be.5570cc","ab8d2422.654d88","3ed5cc55.3a1884","b1c6f449.8ae638","df05eea0.4e1c4","71ac783f.6cfe88","45e87fd7.3d938","812dcf6b.52779","5f95582b.86fed8","e209e2ec.cc07e","8f521aff.14ca38"],"x":34,"y":1399,"w":1092,"h":562},{"id":"f27c6774.f617e8","type":"group","z":"cf6c3a0f.41ff38","name":"Exampe 2 - Ping google, get a pass or fail, and add a timestamp into our template node","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["caf265b6.18c138","444ac469.d6500c","ef450ec4.0c8b9","4525741b.57e7fc","6823b03d.8ae11","8eb23d1a.25535","b06f1fab.82b9e","e6be31c8.4525a","20888d18.7eb332","806a965d.307788","a97227ab.211988"],"x":34,"y":1039,"w":1092,"h":322},{"id":"227e0772.aa4c58","type":"file","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 1.txt","filename":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 1.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":480,"y":140,"wires":[[]]},{"id":"422c6c22.3c5d34","type":"inject","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":140,"wires":[["227e0772.aa4c58"]]},{"id":"c83e9e07.9edc6","type":"ping","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","mode":"triggered","name":"ping","host":"www.google.com","timer":"20","inputs":1,"x":290,"y":480,"wires":[["7c1046bc.968db8"]]},{"id":"eaf87de3.2dc45","type":"inject","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":220,"wires":[["e5f6e8f0.628e18"]]},{"id":"d5cd91f5.bc18a","type":"debug","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":830,"y":220,"wires":[]},{"id":"6e979f8c.9c3ee","type":"comment","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"send only a timestamp to a file","info":"","x":180,"y":80,"wires":[]},{"id":"24c4a6c3.176e1a","type":"comment","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"send to file","info":"","x":460,"y":100,"wires":[]},{"id":"a595f9de.3786b8","type":"comment","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"read from file to debug \"file in\" node","info":"","x":540,"y":180,"wires":[]},{"id":"e5f6e8f0.628e18","type":"file in","z":"cf6c3a0f.41ff38","g":"72fc0310.ebbadc","name":"","filename":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 1.txt","format":"utf8","chunk":false,"sendError":false,"encoding":"none","x":480,"y":220,"wires":[["d5cd91f5.bc18a"]]},{"id":"5137a604.ef3da8","type":"inject","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":480,"wires":[["c83e9e07.9edc6"]]},{"id":"db49c3b2.e3c4b","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"Ping Google","info":"","x":290,"y":440,"wires":[]},{"id":"7c1046bc.968db8","type":"switch","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":480,"wires":[["1a255a53.1bdb86"],["67f3369.07c9ec8"]]},{"id":"95db91d4.e68b2","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If respose is false / failed / timeout","info":"","x":700,"y":400,"wires":[]},{"id":"1a255a53.1bdb86","type":"change","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ping request failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":440,"wires":[["6d887d3e.62cc14"]]},{"id":"6d887d3e.62cc14","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":440,"wires":[]},{"id":"67f3369.07c9ec8","type":"template","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ping request to {{topic}} took {{payload}}ms","output":"str","x":640,"y":500,"wires":[["6ddaf59a.eedb8c"]]},{"id":"6ddaf59a.eedb8c","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":500,"wires":[]},{"id":"b208c62f.a00e18","type":"ping","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","mode":"triggered","name":"ping","host":"www.amazon.co.uk","timer":"20","inputs":1,"x":290,"y":680,"wires":[["eea8e1c5.5d85f"]]},{"id":"9ebed3b.b1f1c3","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"Ping Amazon UK","info":"","x":300,"y":640,"wires":[]},{"id":"97fd766.2fc3288","type":"ping","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","mode":"triggered","name":"ping","host":"192.168.1.254","timer":"20","inputs":1,"x":290,"y":880,"wires":[["ad68294d.513c98"]]},{"id":"2b800a56.fce076","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"Ping BT Home Hub","info":"","x":310,"y":840,"wires":[]},{"id":"e08ebfe9.80e0f","type":"inject","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":680,"wires":[["b208c62f.a00e18"]]},{"id":"244a831c.0d9eac","type":"inject","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":880,"wires":[["97fd766.2fc3288"]]},{"id":"eea8e1c5.5d85f","type":"switch","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":680,"wires":[["c2634d9a.6de05"],["e136248b.753f08"]]},{"id":"e1d38a0e.5c5518","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If respose is false / failed / timeout","info":"","x":700,"y":600,"wires":[]},{"id":"c2634d9a.6de05","type":"change","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ping request failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":640,"wires":[["9ad05573.2635b8"]]},{"id":"9ad05573.2635b8","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":640,"wires":[]},{"id":"e136248b.753f08","type":"template","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ping request to {{topic}} took {{payload}}ms","output":"str","x":640,"y":700,"wires":[["b0a3815a.0e472"]]},{"id":"b0a3815a.0e472","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":700,"wires":[]},{"id":"ad68294d.513c98","type":"switch","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":450,"y":880,"wires":[["29b26c36.fb73c4"],["4ae9f328.d697bc"]]},{"id":"9fc8cf12.885cc","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If respose is false / failed / timeout","info":"","x":700,"y":800,"wires":[]},{"id":"29b26c36.fb73c4","type":"change","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Ping request failed - No connection to your home router","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":620,"y":840,"wires":[["f74b3082.6c45f"]]},{"id":"f74b3082.6c45f","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":840,"wires":[]},{"id":"4ae9f328.d697bc","type":"template","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ping request to {{topic}} took {{payload}}ms","output":"str","x":640,"y":900,"wires":[["2b09f12e.2bce8e"]]},{"id":"2b09f12e.2bce8e","type":"debug","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":900,"wires":[]},{"id":"d870601.f89d3a","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If succesfull","info":"","x":710,"y":540,"wires":[]},{"id":"a644610b.ddf2","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If succesfull","info":"","x":710,"y":740,"wires":[]},{"id":"9ed2d7b2.6583b8","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"If succesfull","info":"","x":710,"y":940,"wires":[]},{"id":"fd5ae937.f04258","type":"comment","z":"cf6c3a0f.41ff38","g":"5786efd4.309a9","name":"Ping Servers","info":"","x":130,"y":340,"wires":[]},{"id":"caf265b6.18c138","type":"inject","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1180,"wires":[["444ac469.d6500c"]]},{"id":"444ac469.d6500c","type":"ping","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","mode":"triggered","name":"ping","host":"www.google.com","timer":"20","inputs":1,"x":270,"y":1180,"wires":[["ef450ec4.0c8b9"]]},{"id":"ef450ec4.0c8b9","type":"switch","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1180,"wires":[["6823b03d.8ae11"],["20888d18.7eb332"]]},{"id":"4525741b.57e7fc","type":"file","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 2.txt","filename":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 2.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":840,"y":1260,"wires":[["e6be31c8.4525a"]]},{"id":"6823b03d.8ae11","type":"simpletime","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1160,"wires":[["a97227ab.211988"]]},{"id":"8eb23d1a.25535","type":"template","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ping request to {{topic}} took {{payload}} ms. And was received at {{mytimes}}","output":"str","x":760,"y":1200,"wires":[["4525741b.57e7fc"]]},{"id":"b06f1fab.82b9e","type":"comment","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"adding in a timestamp from \"simpletime\"  into our template - see line 35 (via mustache)","info":"node-red-contrib-simpletime 2.10.0\nhttps://flows.nodered.org/node/node-red-contrib-simpletime\n\nUsage\nInputs\nAny existing payloads or topics being injected into simpletime will pass unaltered through the node.\n\nOutputs\nIn addition to any existing payloads, a number of additional payloads will be added, which can be utilised later in the flow.\n\nBy default, all the additional properties will be added to the message but this can be altered in the node configuration, using checkboxes\n\nDetails\nThe additional payloads added to the flow, and their typical content format are;\n\nmsg.mydate: \"Tue Sep 11 2018\"\nmsg.myymd: \"2018-09-11\"\nmsg.myyear: \"2018\"\nmsg.mymonth: \"Sep\"\nmsg.mymonthn: \"09\"\nmsg.mydom: \"11\"\nmsg.mydoy: \"86\"\nmsg.myday: \"Tue\"\nmsg.myhourpm: \"7\"\nmsg.myhour: \"19\"\nmsg.mytime: \"19:51\"\nmsg.mytimes: \"19:51:17\"\nmsg.myminute: \"51\"\nmsg.myminutes: \"51:17\"\nmsg.mysecond: \"17\"\nmsg.mymillis: \"985\"\nmsg.myepoch: \"1536691877064\"\nmsg.myrawdate: \"2018-09-11T18:51:17.064Z\"\nmsg.mypm: \"PM\"\nTo introduce any of the messages into a flow, simply assign any, or any combination of the messages into a variable, such as; var seconds = msg.myseconds; or to use in a ui_text node add via mustache {{mytimes}}\nMore advanced date formats can also be constructed, such as {{mytime}}hrs - {{mydom}}/{{mymonth}} to get \"20:10hrs - 11/Sep\", or {{myhourpm}}:{{myminute}}{{mypm}} to get \"8.10PM\"","x":700,"y":1120,"wires":[]},{"id":"e6be31c8.4525a","type":"debug","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1010,"y":1320,"wires":[]},{"id":"20888d18.7eb332","type":"simpletime","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1200,"wires":[["8eb23d1a.25535"]]},{"id":"806a965d.307788","type":"comment","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"PIng Google","info":"","x":130,"y":1080,"wires":[]},{"id":"a97227ab.211988","type":"template","z":"cf6c3a0f.41ff38","g":"f27c6774.f617e8","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Ping request to {{topic}} failed. And was received at {{mytimes}}","output":"str","x":760,"y":1160,"wires":[["4525741b.57e7fc"]]},{"id":"3721e02e.70396","type":"template","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{myymd}},{{mytimes}},{{topic}},{{payload}}","output":"str","x":1000,"y":1540,"wires":[["d025a89f.3fccf8"]]},{"id":"4a4975a5.968a2c","type":"simpletime","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1520,"wires":[["eca99623.643448"]]},{"id":"c099d539.23ff08","type":"simpletime","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1560,"wires":[["3721e02e.70396"]]},{"id":"3cb4073b.58de58","type":"switch","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1540,"wires":[["4a4975a5.968a2c"],["c099d539.23ff08"]]},{"id":"d79f8714.c22aa8","type":"ping","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","mode":"triggered","name":"ping","host":"www.google.com","timer":"20","inputs":1,"x":270,"y":1540,"wires":[["3cb4073b.58de58"]]},{"id":"89aacac5.78d3c8","type":"inject","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1540,"wires":[["d79f8714.c22aa8"]]},{"id":"84bd1bb5.8c3598","type":"comment","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"PIng Google","info":"","x":130,"y":1440,"wires":[]},{"id":"d025a89f.3fccf8","type":"csv","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","sep":",","hdrin":"","hdrout":"none","multi":"one","ret":"\\r\\n","temp":"","skip":"0","strings":true,"include_empty_strings":"","include_null_values":"","x":870,"y":1600,"wires":[["1395ae5d.0b9c32"]]},{"id":"1395ae5d.0b9c32","type":"file","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 3.txt","filename":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 3.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":1660,"wires":[[]]},{"id":"eca99623.643448","type":"change","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1520,"wires":[["3721e02e.70396"]]},{"id":"500453be.5570cc","type":"json","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","property":"payload","action":"str","pretty":true,"x":870,"y":1860,"wires":[["5f95582b.86fed8"]]},{"id":"ab8d2422.654d88","type":"template","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{myymd}},{{mytimes}},{{topic}},{{payload}}","output":"str","x":1000,"y":1800,"wires":[["500453be.5570cc"]]},{"id":"3ed5cc55.3a1884","type":"simpletime","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1780,"wires":[["e209e2ec.cc07e"]]},{"id":"b1c6f449.8ae638","type":"simpletime","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","mydate":true,"myymd":true,"myyear":true,"mymonth":true,"mymonthn":true,"mydom":true,"mydoy":true,"myday":true,"myhourpm":true,"myhour":true,"mytime":true,"mytimes":true,"myminute":true,"myminutes":true,"mysecond":true,"mymillis":true,"myepoch":true,"myrawdate":true,"mypm":true,"x":590,"y":1820,"wires":[["ab8d2422.654d88"]]},{"id":"df05eea0.4e1c4","type":"switch","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"false"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":410,"y":1800,"wires":[["3ed5cc55.3a1884"],["b1c6f449.8ae638"]]},{"id":"71ac783f.6cfe88","type":"ping","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","mode":"triggered","name":"ping","host":"www.google.com","timer":"20","inputs":1,"x":270,"y":1800,"wires":[["df05eea0.4e1c4"]]},{"id":"45e87fd7.3d938","type":"inject","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":140,"y":1800,"wires":[["71ac783f.6cfe88"]]},{"id":"812dcf6b.52779","type":"comment","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"PIng Google","info":"","x":130,"y":1700,"wires":[]},{"id":"5f95582b.86fed8","type":"file","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 4.txt","filename":"C:\\Users\\innov\\.node-red\\user created log files\\example log file 4.txt","appendNewline":true,"createDir":false,"overwriteFile":"false","encoding":"none","x":860,"y":1920,"wires":[[]]},{"id":"e209e2ec.cc07e","type":"change","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"Failed","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":780,"y":1780,"wires":[["ab8d2422.654d88"]]},{"id":"8f521aff.14ca38","type":"comment","z":"cf6c3a0f.41ff38","g":"df4d3d56.6df8c","name":"README","info":"Example - 3 - Lets get rid of the text and start storing the data as fields so that we could manipulate them with databases or spreadsheets - Note the difference between the two. One converts to a csv file amd the other a JSON string (both are comma separated). The JSON node is simpler but the CSV node has more optoions","x":1000,"y":1440,"wires":[]}]