Mathmatical Magic Machine.json
[{"id":"93c39056.fdf11","type":"subflow","name":"Card_4 (2)","info":"","category":"","in":[{"x":180,"y":240,"wires":[{"id":"2c43ddc3.87e1a2"},{"id":"58fbbc84.0a08f4"}]}],"out":[{"x":680,"y":340,"wires":[{"id":"3aef0ec4.a2d722","port":0},{"id":"3fa7cdd.0c37832","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"f887697.84e9698","type":"ui_table","z":"93c39056.fdf11","group":"2c7a0b78.a0cdec","name":"Card_4","order":2,"width":"4","height":"2","columns":[{"field":"col_1","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_2","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_3","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_4","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":720,"y":200,"wires":[]},{"id":"c291df28.fa10b","type":"change","z":"93c39056.fdf11","name":"Card_4_numbers","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"col_1\":\"<font color='yellow'><b>8</b></font>\",\"col_2\":\"<font color='yellow'><b>9</b></font>\",\"col_3\":\"<font color='yellow'><b>10</b></font>\",\"col_4\":\"<font color='yellow'><b>11</b></font>\"},{\"col_1\":\"<font color='yellow'><b>12</b></font>\",\"col_2\":\"<font color='yellow'><b>13</b></font>\",\"col_3\":\"<font color='yellow'><b>14</b></font>\",\"col_4\":\"<font color='yellow'><b>15</b></font>\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":200,"wires":[["f887697.84e9698"]]},{"id":"2c43ddc3.87e1a2","type":"function","z":"93c39056.fdf11","name":"","func":"if (msg.payload ==\"active\"){\n    node.send( [{payload:1},null] );\n}\nelse if (msg.payload==\"invisible\") {\n    node.send( [null,{payload:1}] );\n}","outputs":2,"noerr":0,"x":310,"y":240,"wires":[["c291df28.fa10b"],["3509efb8.822a8"]]},{"id":"3509efb8.822a8","type":"change","z":"93c39056.fdf11","name":"Card_1_blank","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":480,"y":260,"wires":[["f887697.84e9698"]]},{"id":"58fbbc84.0a08f4","type":"function","z":"93c39056.fdf11","name":"","func":"if (msg.payload ==\"invisible\"){\n    msg.background=\"#333333\";\n    msg.colour=\"#333333\";\n    return msg;\n}\nelse if (msg.payload==\"active\") {\n    msg.background=\"#097479\";\n    msg.colour=\"yellow\";\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":320,"wires":[["3aef0ec4.a2d722","3fa7cdd.0c37832"]]},{"id":"3fa7cdd.0c37832","type":"ui_button","z":"93c39056.fdf11","name":"","group":"2c7a0b78.a0cdec","order":3,"width":"2","height":"1","passthru":false,"label":"Not here","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_4_button_no","payloadType":"str","topic":"card_4","x":460,"y":380,"wires":[[]]},{"id":"3aef0ec4.a2d722","type":"ui_button","z":"93c39056.fdf11","name":"","group":"2c7a0b78.a0cdec","order":4,"width":"2","height":"1","passthru":false,"label":"On this card","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_4_button_yes","payloadType":"str","topic":"card_4","x":470,"y":320,"wires":[[]]},{"id":"2c7a0b78.a0cdec","type":"ui_group","name":"Card 4","tab":"92b49313.50562","order":5,"disp":true,"width":"4","collapse":false},{"id":"a618576a.bc5748","type":"subflow","name":"Card_3 (2)","info":"","category":"","in":[{"x":180,"y":220,"wires":[{"id":"ed5013a8.9daa5"},{"id":"83518a51.393728"}]}],"out":[{"x":700,"y":340,"wires":[{"id":"804bb1c4.8de48","port":0},{"id":"1717de29.04b042","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"ed5013a8.9daa5","type":"function","z":"a618576a.bc5748","name":"","func":"if (msg.payload ==\"active\"){\n    node.send( [{payload:1},null] );\n}\nelse if (msg.payload==\"invisible\") {\n    node.send( [null,{payload:1}] );\n}","outputs":2,"noerr":0,"x":330,"y":220,"wires":[["e11d128c.de9a4"],["a9ecb27d.b73fc"]]},{"id":"4a12893c.11ecd8","type":"ui_table","z":"a618576a.bc5748","group":"8f92204.0c2956","name":"Card_3","order":2,"width":"4","height":"2","columns":[{"field":"col_1","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_2","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_3","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_4","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":760,"y":200,"wires":[]},{"id":"e11d128c.de9a4","type":"change","z":"a618576a.bc5748","name":"Card_3_numbers","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"col_1\":\"<font color='yellow'><b>4</b></font>\",\"col_2\":\"<font color='yellow'><b>5</b></font>\",\"col_3\":\"<font color='yellow'><b>6</b></font>\",\"col_4\":\"<font color='yellow'><b>7</b></font>\"},{\"col_1\":\"<font color='yellow'><b>12</b></font>\",\"col_2\":\"<font color='yellow'><b>13</b></font>\",\"col_3\":\"<font color='yellow'><b>14</b></font>\",\"col_4\":\"<font color='yellow'><b>15</b></font>\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":200,"wires":[["4a12893c.11ecd8"]]},{"id":"83518a51.393728","type":"function","z":"a618576a.bc5748","name":"","func":"if (msg.payload ==\"invisible\"){\n    msg.background=\"#333333\";\n    msg.colour=\"#333333\";\n    return msg;\n}\nelse if (msg.payload==\"active\") {\n    msg.background=\"#097479\";\n    msg.colour=\"yellow\";\n    return msg;\n}","outputs":1,"noerr":0,"x":310,"y":340,"wires":[["804bb1c4.8de48","1717de29.04b042"]]},{"id":"804bb1c4.8de48","type":"ui_button","z":"a618576a.bc5748","name":"","group":"8f92204.0c2956","order":3,"width":"2","height":"1","passthru":false,"label":"Not here","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_3_button_no","payloadType":"str","topic":"card_3","x":500,"y":380,"wires":[[]]},{"id":"1717de29.04b042","type":"ui_button","z":"a618576a.bc5748","name":"","group":"8f92204.0c2956","order":4,"width":"2","height":"1","passthru":false,"label":"On this card","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_3_button_yes","payloadType":"str","topic":"card_3","x":510,"y":340,"wires":[[]]},{"id":"a9ecb27d.b73fc","type":"change","z":"a618576a.bc5748","name":"Card_1_blank","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":260,"wires":[["4a12893c.11ecd8"]]},{"id":"8f92204.0c2956","type":"ui_group","name":"Card 3","tab":"92b49313.50562","order":4,"disp":true,"width":"4","collapse":false},{"id":"fb01f5de.c64688","type":"subflow","name":"Card_2 (2)","info":"","category":"","in":[{"x":180,"y":180,"wires":[{"id":"689b22c7.47870c"},{"id":"35dd8d9.067a172"}]}],"out":[{"x":860,"y":260,"wires":[{"id":"4183d585.a2fbdc","port":0},{"id":"dd1b7c54.5da97","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"5eead7c0.c4dea8","type":"ui_table","z":"fb01f5de.c64688","group":"56afeb62.aff3e4","name":"Card_2","order":2,"width":"4","height":"2","columns":[{"field":"col_1","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_2","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_3","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_4","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":720,"y":180,"wires":[]},{"id":"dd1b7c54.5da97","type":"ui_button","z":"fb01f5de.c64688","name":"","group":"56afeb62.aff3e4","order":3,"width":"2","height":"1","passthru":false,"label":"Not here","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_2_button_no","payloadType":"str","topic":"card_2","x":720,"y":280,"wires":[[]]},{"id":"4183d585.a2fbdc","type":"ui_button","z":"fb01f5de.c64688","name":"","group":"56afeb62.aff3e4","order":4,"width":"2","height":"1","passthru":false,"label":"On this card","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_2_button_yes","payloadType":"str","topic":"card_2","x":730,"y":240,"wires":[[]]},{"id":"4a40e3ae.65c75c","type":"change","z":"fb01f5de.c64688","name":"Card_2_numbers","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"col_1\":\"<font color='yellow'><b>2</b></font>\",\"col_2\":\"<font color='yellow'><b>3</b></font>\",\"col_3\":\"<font color='yellow'><b>6</b></font>\",\"col_4\":\"<font color='yellow'><b>7</b></font>\"},{\"col_1\":\"<font color='yellow'><b>10</b></font>\",\"col_2\":\"<font color='yellow'><b>11</b></font>\",\"col_3\":\"<font color='yellow'><b>14</b></font>\",\"col_4\":\"<font color='yellow'><b>15</b></font>\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":160,"wires":[["5eead7c0.c4dea8"]]},{"id":"689b22c7.47870c","type":"function","z":"fb01f5de.c64688","name":"","func":"if (msg.payload ==\"active\"){\n    node.send( [{payload:1},null] );\n}\nelse if (msg.payload==\"invisible\") {\n    node.send( [null,{payload:1}] );\n}","outputs":2,"noerr":0,"x":330,"y":180,"wires":[["4a40e3ae.65c75c"],["7c2264b.2c2a79c"]]},{"id":"7c2264b.2c2a79c","type":"change","z":"fb01f5de.c64688","name":"Card_1_blank","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":200,"wires":[["5eead7c0.c4dea8"]]},{"id":"35dd8d9.067a172","type":"function","z":"fb01f5de.c64688","name":"","func":"if (msg.payload ==\"invisible\"){\n    msg.background=\"#333333\";\n    msg.colour=\"#333333\";\n    return msg;\n}\nelse if (msg.payload==\"active\") {\n    msg.background=\"#097479\";\n    msg.colour=\"yellow\";\n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["4183d585.a2fbdc","dd1b7c54.5da97"]]},{"id":"56afeb62.aff3e4","type":"ui_group","name":"Card 2","tab":"92b49313.50562","order":3,"disp":true,"width":"4","collapse":false},{"id":"65dd8dcc.d4f404","type":"subflow","name":"Card_1 (2)","info":"","category":"","in":[{"x":180,"y":140,"wires":[{"id":"fec93cb7.8d19b"},{"id":"b520a459.681638"}]}],"out":[{"x":880,"y":220,"wires":[{"id":"1f7c7687.8d31e9","port":0},{"id":"ce57a2bf.20e85","port":0}]}],"env":[],"color":"#DDAA99"},{"id":"927dad2e.32263","type":"ui_table","z":"65dd8dcc.d4f404","group":"6a584447.9a0d44","name":"Card_1","order":1,"width":"4","height":"2","columns":[{"field":"col_1","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_2","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_3","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}},{"field":"col_4","title":"","width":"25%","align":"center","formatter":"html","formatterParams":{"target":"_blank"}}],"outputs":0,"cts":false,"x":720,"y":140,"wires":[]},{"id":"ce57a2bf.20e85","type":"ui_button","z":"65dd8dcc.d4f404","name":"","group":"6a584447.9a0d44","order":2,"width":"2","height":"1","passthru":false,"label":"Not here","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_1_button_no","payloadType":"str","topic":"card_1","x":720,"y":240,"wires":[[]]},{"id":"1f7c7687.8d31e9","type":"ui_button","z":"65dd8dcc.d4f404","name":"","group":"6a584447.9a0d44","order":3,"width":"2","height":"1","passthru":false,"label":"On this card","tooltip":"","color":"{{msg.colour}}","bgcolor":"{{msg.background}}","icon":"","payload":"card_1_button_yes","payloadType":"str","topic":"card_1","x":730,"y":200,"wires":[[]]},{"id":"c26bd026.be6d4","type":"change","z":"65dd8dcc.d4f404","name":"Card_1_numbers","rules":[{"t":"set","p":"payload","pt":"msg","to":"[{\"col_1\":\"<font color='yellow'><b>1</b></font>\",\"col_2\":\"<font color='yellow'><b>3</b></font>\",\"col_3\":\"<font color='yellow'><b>5</b></font>\",\"col_4\":\"<font color='yellow'><b>7</b></font>\"},{\"col_1\":\"<font color='yellow'><b>9</b></font>\",\"col_2\":\"<font color='yellow'><b>11</b></font>\",\"col_3\":\"<font color='yellow'><b>13</b></font>\",\"col_4\":\"<font color='yellow'><b>15</b></font>\"}]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":530,"y":120,"wires":[["927dad2e.32263"]]},{"id":"67674f75.79a78","type":"change","z":"65dd8dcc.d4f404","name":"Card_1_blank","rules":[{"t":"set","p":"payload","pt":"msg","to":"[]","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":520,"y":160,"wires":[["927dad2e.32263"]]},{"id":"fec93cb7.8d19b","type":"function","z":"65dd8dcc.d4f404","name":"","func":"if (msg.payload ==\"active\"){\n    node.send( [{payload:1},null] );\n}\nelse if (msg.payload==\"invisible\") {\n    node.send( [null,{payload:1}] );\n}","outputs":2,"noerr":0,"x":330,"y":140,"wires":[["c26bd026.be6d4"],["67674f75.79a78"]]},{"id":"b520a459.681638","type":"function","z":"65dd8dcc.d4f404","name":"","func":"if (msg.payload ==\"invisible\"){\n    msg.background=\"#333333\";\n    msg.colour=\"#333333\";\n    return msg;\n}\nelse if (msg.payload==\"active\") {\n    msg.background=\"#097479\";\n    msg.colour=\"yellow\";\n    return msg;\n}","outputs":1,"noerr":0,"x":490,"y":220,"wires":[["1f7c7687.8d31e9","ce57a2bf.20e85"]]},{"id":"6a584447.9a0d44","type":"ui_group","name":"Card 1","tab":"92b49313.50562","order":2,"disp":true,"width":"4","collapse":false},{"id":"92b49313.50562","type":"ui_tab","name":"Matt's Mathematical Magic Machine","icon":"track_changes","order":1,"disabled":false,"hidden":false},{"id":"6c958afe.a42b14","type":"tab","label":"Mathmatical Magic Machine","disabled":false,"info":""},{"id":"71b30e75.43b37","type":"ui_text","z":"6c958afe.a42b14","group":"1d85bf85.d1458","order":1,"width":"3","height":"2","name":"","label":"Think of a number between 1 and 15. <br>Click which card it appears on.","format":"{{msg.payload}}","layout":"col-center","x":340,"y":100,"wires":[]},{"id":"e9b27b1d.f07ee8","type":"ui_button","z":"6c958afe.a42b14","name":"","group":"1d85bf85.d1458","order":2,"width":"3","height":"1","passthru":false,"label":"Click to start","tooltip":"","color":"","bgcolor":"","icon":"","payload":"start_button","payloadType":"str","topic":"","x":130,"y":340,"wires":[["64908978.e20308"]]},{"id":"3101d7fe.e70a58","type":"ui_text","z":"6c958afe.a42b14","group":"5947d396.63b57c","order":0,"width":"2","height":"3","name":"Answer","label":"{{msg.payload}}","format":"","layout":"col-center","x":820,"y":460,"wires":[]},{"id":"64908978.e20308","type":"function","z":"6c958afe.a42b14","name":"m4_fsm","func":"var fsm_state = flow.get(\"fsm_m4_state_reg\") || \"instruction\";\n\nvar result = flow.get(\"result\") || 0;\n\nif (msg.payload == \"reset\")\n{\n    flow.set(\"result\",0);\n    fsm_state= \"instruction\";\n    node.status({text:\"State register = instruction\"});\n    node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n}\n\nswitch (fsm_state)\n   {\n        case \"instruction\":\n        if (msg.payload == \"start_button\") {\n            flow.set(\"result\",0);\n            fsm_state = \"card_1\";\n            node.status({text:\"State register = card_1\"});\n            node.send( [{payload:\"active\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        break;\n       \n        case \"card_1\":\n        if (msg.payload == \"card_1_button_yes\")\n        {\n            result = 1;\n            fsm_state = \"card_2\";\n            node.status({text:\"State register = card_2\"});\n            node.send( [{payload:\"invisible\"},{payload: \"active\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        else if (msg.payload == \"card_1_button_no\") {\n            result = 0;\n            fsm_state = \"card_2\";\n            node.status({text:\"State register = card_2\"});\n            node.send( [{payload:\"invisible\"},{payload: \"active\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        break;\n       \n        case \"card_2\":\n        if (msg.payload == \"card_2_button_yes\")\n        {   \n            result = result + 2;\n            fsm_state = \"card_3\";\n            node.status({text:\"State register = card_3\"});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"active\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        else if (msg.payload == \"card_2_button_no\")\n        {\n            fsm_state = \"card_3\";\n            node.status({text:\"State register = card_3\"});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"active\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        break;\n        \n        case \"card_3\":\n        if (msg.payload == \"card_3_button_yes\")\n        {   \n            result = result + 4;\n            fsm_state = \"card_4\";\n            node.status({text:\"State register = card_4\"});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"active\"},{payload: \"invisible\"}] );\n        }\n        else if (msg.payload == \"card_3_button_no\")\n        {\n            fsm_state = \"card_4\";\n            node.status({text:\"State register = card_4\"});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"active\"},{payload: \"invisible\"}] );\n        }\n        break;\n        \n        case \"card_4\":\n        if (msg.payload == \"card_4_button_yes\")\n        {   \n            result = result + 8;\n            fsm_state = \"answer\";\n            node.status({text:\"State register = answer\"+result});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"active\"}] );\n        }\n        else if (msg.payload == \"card_4_button_no\")\n        {\n            fsm_state = \"answer\";\n            node.status({text:\"State register = answer\"+result});\n            node.send( [{payload:\"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"active\"}] );\n        }\n        break;\n        \n        case \"answer\":\n        if (msg.payload == \"start_button\")\n        {   \n            result = 0;\n            fsm_state = \"card_1\";\n            node.status({text:\"State register = card_1\"});\n            node.send( [{payload:\"active\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"},{payload: \"invisible\"}] );\n        }\n        break;\n   }\n\nflow.set(\"fsm_m4_state_reg\", fsm_state);\nflow.set(\"result\",result);\n\n","outputs":5,"noerr":0,"x":440,"y":340,"wires":[["7f371829.fb8e18"],["526b1bd6.7131e4"],["f93c8ba8.c80148"],["c5e03edd.aa162"],["f9c1068.83ca2f8"]]},{"id":"fa73ff5f.caa21","type":"inject","z":"6c958afe.a42b14","name":"","repeat":"","crontab":"","once":true,"onceDelay":"0.1","topic":"","payload":"reset","payloadType":"str","x":130,"y":200,"wires":[["f9b5838a.d89bc"]]},{"id":"ac37de65.fd963","type":"link in","z":"6c958afe.a42b14","name":"fsm_in","links":["c7bd9124.2b789"],"x":355,"y":260,"wires":[["64908978.e20308"]]},{"id":"c7bd9124.2b789","type":"link out","z":"6c958afe.a42b14","name":"buttons","links":["ac37de65.fd963"],"x":795,"y":280,"wires":[]},{"id":"7f371829.fb8e18","type":"subflow:65dd8dcc.d4f404","z":"6c958afe.a42b14","name":"","x":650,"y":280,"wires":[["c7bd9124.2b789"]]},{"id":"526b1bd6.7131e4","type":"subflow:fb01f5de.c64688","z":"6c958afe.a42b14","name":"","x":650,"y":320,"wires":[["c7bd9124.2b789"]]},{"id":"f93c8ba8.c80148","type":"subflow:a618576a.bc5748","z":"6c958afe.a42b14","name":"","x":650,"y":360,"wires":[["c7bd9124.2b789"]]},{"id":"c5e03edd.aa162","type":"subflow:93c39056.fdf11","z":"6c958afe.a42b14","name":"","x":650,"y":400,"wires":[["c7bd9124.2b789"]]},{"id":"f9b5838a.d89bc","type":"function","z":"6c958afe.a42b14","name":"","func":"flow.set('result',0);\nflow.set(\"fsm_m4_state_register\",\"instruction\");\nmsg.payload=\"reset\";\nreturn msg;","outputs":1,"noerr":0,"x":270,"y":200,"wires":[["5518fe7.eb7ca"]]},{"id":"f9c1068.83ca2f8","type":"function","z":"6c958afe.a42b14","name":"","func":"if (msg.payload == \"active\") {\n    var result = flow.get('result') || 0;\n    msg.payload = \"The answer is: \"+result;\n    return msg;\n}\nelse if (msg.payload == \"invisible\") {\n    msg.payload = \"\";\n    return msg;\n}\n","outputs":1,"noerr":0,"x":650,"y":460,"wires":[["3101d7fe.e70a58"]]},{"id":"5518fe7.eb7ca","type":"delay","z":"6c958afe.a42b14","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":240,"y":260,"wires":[["64908978.e20308"]]},{"id":"1d85bf85.d1458","type":"ui_group","name":"Instruction","tab":"92b49313.50562","order":1,"disp":true,"width":"3","collapse":false},{"id":"5947d396.63b57c","type":"ui_group","name":"Answer","tab":"92b49313.50562","order":6,"disp":true,"width":"2","collapse":false}]