Node-Red BNO 085 9DOF
[{"id":"c980d39.e8fbd3","type":"serial in","z":"101769f5.92b246","name":"","serial":"76f45fb0.1c75a","x":530,"y":380,"wires":[["4ce5d777.6954b8"]]},{"id":"4ce5d777.6954b8","type":"delay","z":"101769f5.92b246","name":"2hz and drop intermediate msgs","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":830,"y":400,"wires":[["6d247988.f89568","7fe381f3.d251b"]]},{"id":"6d247988.f89568","type":"debug","z":"101769f5.92b246","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1510,"y":420,"wires":[]},{"id":"2087d57b.c0727a","type":"debug","z":"101769f5.92b246","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1590,"y":340,"wires":[]},{"id":"5ed0d8a5.ef4898","type":"function","z":"101769f5.92b246","name":"convert","func":"obj = {};\nvar res;\n\nmsg.payload = JSON.parse(msg.payload);\n\nmsg.payload.forEach(function(item) {\n    res = item.split(\",\");\n    obj[res[1]] = res[2];\n})\nmsg.payload = obj;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1400,"y":340,"wires":[["2087d57b.c0727a"]]},{"id":"7fe381f3.d251b","type":"split","z":"101769f5.92b246","name":"","splt":",","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":490,"y":720,"wires":[["e7aa9f6e.0602d","6ea3f398.7fce9c","1668aaf0.1ac125","b6e51a68.ed0748","826e816d.6ad22"]]},{"id":"e7aa9f6e.0602d","type":"switch","z":"101769f5.92b246","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"x:","vt":"str"},{"t":"cont","v":"y:","vt":"str"},{"t":"cont","v":"z:","vt":"str"}],"checkall":"true","repair":false,"outputs":3,"x":670,"y":720,"wires":[["e1d894a7.e35128"],["639be2b6.0dc6ac"],["8cedf258.bfe5e"]]},{"id":"f3703bbc.4e3b58","type":"ui_level","z":"101769f5.92b246","group":"3b771bf2.183fb4","order":1,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED X NEG","label":"","colorHi":"#e60000","colorWarn":"#e60000","colorNormal":"#e60000","colorOff":"#595959","min":0,"max":"-512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":620,"wires":[]},{"id":"e1d894a7.e35128","type":"change","z":"101769f5.92b246","name":"remove x:","rules":[{"t":"change","p":"payload","pt":"msg","from":"x:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":680,"wires":[["dc7c0347.d6f74"]]},{"id":"639be2b6.0dc6ac","type":"change","z":"101769f5.92b246","name":"remove y:","rules":[{"t":"change","p":"payload","pt":"msg","from":"y:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":720,"wires":[["f8083a05.8df788"]]},{"id":"8cedf258.bfe5e","type":"change","z":"101769f5.92b246","name":"remove z:","rules":[{"t":"change","p":"payload","pt":"msg","from":"z:","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":860,"y":760,"wires":[["213497cb.69eb38"]]},{"id":"a8178a7b.fae988","type":"ui_level","z":"101769f5.92b246","group":"9bd78656.65fd28","order":1,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED Y NEG","label":"","colorHi":"#e60000","colorWarn":"#e60000","colorNormal":"#e60000","colorOff":"#595959","min":0,"max":"-512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":740,"wires":[]},{"id":"bd80768c.cd7868","type":"ui_level","z":"101769f5.92b246","group":"9bd78656.65fd28","order":2,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED Y POS","label":"","colorHi":"#00b33c","colorWarn":"#00b33c","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":700,"wires":[]},{"id":"969a42ab.d9684","type":"ui_level","z":"101769f5.92b246","group":"9914dbce.ac3b88","order":1,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED Z NEG","label":"","colorHi":"#e60000","colorWarn":"#e60000","colorNormal":"#e60000","colorOff":"#595959","min":0,"max":"-512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":860,"wires":[]},{"id":"5a689028.cb3a5","type":"ui_level","z":"101769f5.92b246","group":"9914dbce.ac3b88","order":2,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED Z POS","label":"","colorHi":"#00b33c","colorWarn":"#00b33c","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":true,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":820,"wires":[]},{"id":"4c6d073f.26aa38","type":"switch","z":"101769f5.92b246","name":"Positive / Negative","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lte","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":600,"wires":[["7990f739.f2d0a8","8bf43036.8dc6c"],["82327179.c7933","f3703bbc.4e3b58"]]},{"id":"b9658cf.6173b7","type":"ui_text","z":"101769f5.92b246","group":"93cc5811.3baf58","order":1,"width":0,"height":0,"name":"","label":"X","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":460,"wires":[]},{"id":"54c3ae95.a89ba","type":"change","z":"101769f5.92b246","name":"Java To Number","rules":[{"t":"set","p":"payload","pt":"msg","to":"$number(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1860,"y":360,"wires":[[]]},{"id":"dc7c0347.d6f74","type":"range","z":"101769f5.92b246","minin":"-512","maxin":"512","minout":"-512","maxout":"512","action":"scale","round":true,"property":"payload","name":"To Whole Integer","x":1050,"y":600,"wires":[["b9658cf.6173b7","4c6d073f.26aa38"]]},{"id":"f8083a05.8df788","type":"range","z":"101769f5.92b246","minin":"-512","maxin":"512","minout":"-512","maxout":"512","action":"scale","round":true,"property":"payload","name":"To Whole Integer","x":1050,"y":720,"wires":[["8c8781f7.8a393","2c8047e.8c0e9b8"]]},{"id":"213497cb.69eb38","type":"range","z":"101769f5.92b246","minin":"-512","maxin":"512","minout":"-512","maxout":"512","action":"scale","round":true,"property":"payload","name":"To Whole Integer","x":1050,"y":840,"wires":[["4925f2f9.a37fbc","c6ea1a5c.ec9ba8"]]},{"id":"8c8781f7.8a393","type":"ui_text","z":"101769f5.92b246","group":"93cc5811.3baf58","order":2,"width":0,"height":0,"name":"","label":"Y","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":500,"wires":[]},{"id":"4925f2f9.a37fbc","type":"ui_text","z":"101769f5.92b246","group":"93cc5811.3baf58","order":3,"width":0,"height":0,"name":"","label":"Z","format":"{{msg.payload}}","layout":"row-spread","x":1070,"y":540,"wires":[]},{"id":"82327179.c7933","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":620,"wires":[["8bf43036.8dc6c"]]},{"id":"8bf43036.8dc6c","type":"ui_level","z":"101769f5.92b246","group":"3b771bf2.183fb4","order":2,"width":1,"height":4,"name":"MAGNETIC_FIELD_CALIBRATED X POS","label":"","colorHi":"#00b33c","colorWarn":"#00b33c","colorNormal":"#00b33c","colorOff":"#595959","min":0,"max":"512","segWarn":"","segHigh":"","unit":"","layout":"sv","channelA":"","channelB":"","decimals":0,"animations":"off","shape":2,"colorschema":"fixed","textoptions":"default","colorText":"#eeeeee","fontLabel":"","fontValue":"","fontSmall":"","colorFromTheme":true,"textAnimations":false,"hideValue":false,"tickmode":"off","peakmode":false,"property":"payload","peaktime":3000,"x":1780,"y":580,"wires":[]},{"id":"7990f739.f2d0a8","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":580,"wires":[["f3703bbc.4e3b58"]]},{"id":"2c8047e.8c0e9b8","type":"switch","z":"101769f5.92b246","name":"Positive / Negative","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lte","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":720,"wires":[["d70f99d5.205c98","bd80768c.cd7868"],["3fbc3505.a1955a","a8178a7b.fae988"]]},{"id":"3fbc3505.a1955a","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":740,"wires":[["bd80768c.cd7868"]]},{"id":"d70f99d5.205c98","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":700,"wires":[["a8178a7b.fae988"]]},{"id":"c6ea1a5c.ec9ba8","type":"switch","z":"101769f5.92b246","name":"Positive / Negative","property":"payload","propertyType":"msg","rules":[{"t":"gte","v":"0","vt":"num"},{"t":"lte","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1310,"y":840,"wires":[["80b8c09a.5a6cf","5a689028.cb3a5"],["abf2e37.aa8bc2","969a42ab.d9684"]]},{"id":"abf2e37.aa8bc2","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":860,"wires":[["5a689028.cb3a5"]]},{"id":"80b8c09a.5a6cf","type":"change","z":"101769f5.92b246","name":"set zero","rules":[{"t":"set","p":"payload","pt":"msg","to":"0","tot":"num"}],"action":"","property":"","from":"","to":"","reg":false,"x":1520,"y":820,"wires":[["969a42ab.d9684"]]},{"id":"a17e6cbf.2cd6","type":"ui_media","z":"101769f5.92b246","group":"d3a0d8ac.dbf838","name":"","width":5,"height":3,"order":1,"category":"Image","file":"BNO08X axis.JPG","layout":"adjust","showcontrols":true,"loop":true,"onstart":false,"scope":"local","tooltip":"","x":1880,"y":440,"wires":[[]]},{"id":"4f32aa2b.0100b4","type":"ui_led","z":"101769f5.92b246","order":1,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_ACCELEROMETER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_ACCELEROMETER","x":1730,"y":1140,"wires":[]},{"id":"d8421740.e297f8","type":"ui_led","z":"101769f5.92b246","order":2,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_GYROSCOPE_CALIBRATED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#00fa00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_GYROSCOPE_CALIBRATED","x":1380,"y":980,"wires":[]},{"id":"4d994326.63527c","type":"ui_led","z":"101769f5.92b246","order":3,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_MAGNETIC_FIELD_CALIBRATED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#00fa00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_MAGNETIC_FIELD_CALIBRATED","x":1400,"y":1020,"wires":[]},{"id":"a7b2505.3c822b","type":"ui_led","z":"101769f5.92b246","order":4,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_LINEAR_ACCELERATION","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_LINEAR_ACCELERATION","x":1390,"y":1220,"wires":[]},{"id":"7f8c4d87.d87294","type":"ui_led","z":"101769f5.92b246","order":5,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_GYROSCOPE_CALIBRATED","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_GYROSCOPE_CALIBRATED","x":1400,"y":1140,"wires":[]},{"id":"d36f824d.3b2bf","type":"ui_led","z":"101769f5.92b246","order":1,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_ROTATION_VECTOR","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_ROTATION_VECTOR","x":1380,"y":1180,"wires":[]},{"id":"54444eae.71256","type":"ui_led","z":"101769f5.92b246","order":2,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_GEOMAGNETIC_ROTATION_VECTOR","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#808080","value":"false","valueType":"bool"},{"color":"#00fa00","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_GEOMAGNETIC_ROTATION_VECTOR","x":1420,"y":1060,"wires":[]},{"id":"e7aeb1a2.fd492","type":"ui_led","z":"101769f5.92b246","order":3,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_GAME_ROTATION_VECTOR","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_GAME_ROTATION_VECTOR","x":1400,"y":1260,"wires":[]},{"id":"7ac49a68.c692b4","type":"ui_led","z":"101769f5.92b246","order":4,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_STEP_COUNTER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_STEP_COUNTER","x":1370,"y":1300,"wires":[]},{"id":"aeb3dc24.ce104","type":"ui_led","z":"101769f5.92b246","order":5,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_STABILITY_CLASSIFIER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_STABILITY_CLASSIFIER","x":1390,"y":1340,"wires":[]},{"id":"a8ddee4f.aaf2","type":"ui_led","z":"101769f5.92b246","order":6,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_RAW_ACCELEROMETER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_RAW_ACCELEROMETER","x":1390,"y":1380,"wires":[]},{"id":"acb5b757.018fa8","type":"ui_led","z":"101769f5.92b246","order":7,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_RAW_GYROSCOPE","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_RAW_GYROSCOPE","x":1380,"y":1420,"wires":[]},{"id":"4e44e6df.2016c8","type":"ui_led","z":"101769f5.92b246","order":8,"group":"d1cb1bc0.bdef38","width":0,"height":0,"label":"SH2_RAW_MAGNETOMETER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_RAW_MAGNETOMETER","x":1390,"y":1460,"wires":[]},{"id":"99cb60c2.e0836","type":"ui_led","z":"101769f5.92b246","order":6,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_SHAKE_DETECTOR","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_SHAKE_DETECTOR","x":1380,"y":1500,"wires":[]},{"id":"f6f744a9.1944d8","type":"ui_led","z":"101769f5.92b246","order":7,"group":"b467a116.bface","width":0,"height":0,"label":"SH2_PERSONAL_ACTIVITY_CLASSIFIER","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"#ff0000","value":"false","valueType":"bool"},{"color":"#008000","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"shape":"circle","showGlow":true,"name":"SH2_PERSONAL_ACTIVITY_CLASSIFIER","x":1430,"y":1540,"wires":[]},{"id":"6ea3f398.7fce9c","type":"switch","z":"101769f5.92b246","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SH2_MAGNETIC_FIELD_CALIBRATED","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":1040,"wires":[["6cdbdac6.6a9af4"],["285be7c.c821118"]]},{"id":"6cdbdac6.6a9af4","type":"change","z":"101769f5.92b246","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1020,"wires":[["4d994326.63527c"]]},{"id":"285be7c.c821118","type":"change","z":"101769f5.92b246","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":1060,"wires":[["4d994326.63527c"]]},{"id":"1668aaf0.1ac125","type":"switch","z":"101769f5.92b246","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SH2_GYROSCOPE_CALIBRATED","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":530,"y":940,"wires":[["615569cd.912a68"],["977a57c0.f7e468"]]},{"id":"615569cd.912a68","type":"change","z":"101769f5.92b246","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":920,"wires":[["d8421740.e297f8"]]},{"id":"977a57c0.f7e468","type":"change","z":"101769f5.92b246","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":960,"wires":[["d8421740.e297f8"]]},{"id":"b6e51a68.ed0748","type":"switch","z":"101769f5.92b246","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"SH2_GEOMAGNETIC_ROTATION_VECTOR","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":1200,"wires":[["5c576a8a.8f4a64"],["10e1a5f5.965f0a"]]},{"id":"5c576a8a.8f4a64","type":"change","z":"101769f5.92b246","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1180,"wires":[["54444eae.71256"]]},{"id":"10e1a5f5.965f0a","type":"change","z":"101769f5.92b246","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":640,"y":1220,"wires":[["54444eae.71256"]]},{"id":"826e816d.6ad22","type":"debug","z":"101769f5.92b246","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":720,"y":660,"wires":[]},{"id":"76f45fb0.1c75a","type":"serial-port","serialport":"COM23","serialbaud":"115200","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"3b771bf2.183fb4","type":"ui_group","name":"X","tab":"aba739f3.1d64c8","order":3,"disp":true,"width":"2","collapse":false},{"id":"9bd78656.65fd28","type":"ui_group","name":"Y","tab":"aba739f3.1d64c8","order":4,"disp":true,"width":2,"collapse":false},{"id":"9914dbce.ac3b88","type":"ui_group","name":"Z","tab":"aba739f3.1d64c8","order":5,"disp":true,"width":2,"collapse":false},{"id":"93cc5811.3baf58","type":"ui_group","name":"Serial Mon","tab":"aba739f3.1d64c8","order":6,"disp":true,"width":"6","collapse":false},{"id":"d3a0d8ac.dbf838","type":"ui_group","name":"Images","tab":"aba739f3.1d64c8","order":8,"disp":false,"width":"5","collapse":false},{"id":"d1cb1bc0.bdef38","type":"ui_group","name":"Gyro/Accel/Magnet","tab":"aba739f3.1d64c8","order":1,"disp":false,"width":"8","collapse":false},{"id":"b467a116.bface","type":"ui_group","name":"Motion","tab":"aba739f3.1d64c8","order":2,"disp":true,"width":"8","collapse":false},{"id":"aba739f3.1d64c8","type":"ui_tab","name":"BNO 085 Tests","icon":"dashboard","disabled":false,"hidden":false}]
