ST Test with quality flags
[
    {
        "id": "cdbb7f15590fac22",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b86ca4b9da6618a",
        "type": "function",
        "z": "cdbb7f15590fac22",
        "name": "Original Split 80 Char Smartrack String",
        "func": "\n//   8 Feb 202211:56:33-4211 8.2000001-0.130.000.000.00 0.00 37074-0.33  3 -125700\n\nlet m = msg.payload\n\nlet day = m.substr(2,2)\nlet month = m.substr(5,3)\nlet year = m.substr(9,4)\nlet hour = m.substr(13,2)\nlet minutes = m.substr(16,2)\nlet seconds = m.substr(19,2)\n\nlet relativeheading = m.substr(21,3)\nlet mode = m.substr(24,1)\nlet solution = m.substr(25,2)\nlet signalstrength = m.substr(26,4)\n\nlet videooverlayhorizontal = m.substr(30,3)\nlet videooverlaydepth = m.substr(33,2)\n\nlet sourcetype = m.substr(35,1)\n\nlet horizontaldisplacement = m.substr(36,5)\nlet horizontalerror = m.substr(41,4)\nlet verticaldisplacement = m.substr(45,4)\nlet verticalerror = m.substr(49,4)\n\n\nlet burial = m.substr(53,5)        // or skids to top\nlet magnetization = m.substr(58,6) // or in active mode current flow\nlet altitude = m.substr(64,5)\nlet pitch = m.substr(69,3)\nlet roll = m.substr(72,3)\nlet absoluteheading = m.substr(75,3)\n\nlet timesplit = m.substr(78,2)\n\nreturn {payload:{day,month,year,hour,minutes,seconds,relativeheading,mode,solution,signalstrength,videooverlayhorizontal,videooverlaydepth,sourcetype,horizontaldisplacement,horizontalerror,verticaldisplacement,verticalerror,burial,magnetization,altitude,pitch,roll,absoluteheading,timesplit\n}}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 290,
        "y": 520,
        "wires": [
            [
                "fd9319e8b3664076",
                "8252bc90de6089a9",
                "7edcdcc612832ea7",
                "58a5257b844763c4",
                "52e210406bb5b90c",
                "4be5bdcf4bd00e93",
                "594a1b39b40a8621",
                "5c5373c5064c6039",
                "18755496d82626b7",
                "5ee96f4dc9c7b770",
                "bc138537f0a8b09f",
                "788d383aad1fad39"
            ]
        ]
    },
    {
        "id": "fd9319e8b3664076",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Date",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Date: {{payload.day}} {{payload.month}} {{payload.year}}\n",
        "output": "str",
        "x": 630,
        "y": 120,
        "wires": [
            [
                "6ca3945457b6fe67"
            ]
        ]
    },
    {
        "id": "8252bc90de6089a9",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Source Type",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.sourcetype}} \n",
        "output": "str",
        "x": 650,
        "y": 600,
        "wires": [
            [
                "89deff17274d61fb"
            ]
        ]
    },
    {
        "id": "7edcdcc612832ea7",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Time",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "Time: {{payload.hour}} {{payload.minutes}} {{payload.seconds}}\n",
        "output": "str",
        "x": 630,
        "y": 160,
        "wires": [
            [
                "c4f66a19e420286b"
            ]
        ]
    },
    {
        "id": "58a5257b844763c4",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Mode",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.mode}}\n",
        "output": "str",
        "x": 630,
        "y": 240,
        "wires": [
            [
                "a71f5ba17409a87e"
            ]
        ]
    },
    {
        "id": "a71f5ba17409a87e",
        "type": "switch",
        "z": "cdbb7f15590fac22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 240,
        "wires": [
            [
                "c47345b29896893e"
            ],
            [
                "639aed6e520ae083"
            ],
            [
                "8597ae0ca016df41"
            ]
        ]
    },
    {
        "id": "c47345b29896893e",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "Passive",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Passive",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 200,
        "wires": [
            [
                "83b42c54a053c283"
            ]
        ]
    },
    {
        "id": "639aed6e520ae083",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "Active DC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Active DC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 240,
        "wires": [
            [
                "83b42c54a053c283"
            ]
        ]
    },
    {
        "id": "8597ae0ca016df41",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "Active AC",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Active AC",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 280,
        "wires": [
            [
                "83b42c54a053c283"
            ]
        ]
    },
    {
        "id": "52e210406bb5b90c",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Solution",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.solution}}\n",
        "output": "str",
        "x": 640,
        "y": 420,
        "wires": [
            [
                "416854663a811aa3"
            ]
        ]
    },
    {
        "id": "416854663a811aa3",
        "type": "switch",
        "z": "cdbb7f15590fac22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "2",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "3",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 4,
        "x": 770,
        "y": 420,
        "wires": [
            [
                "c47b17d7dfb9f37e"
            ],
            [
                "1bf2d1ecbd0ad002"
            ],
            [
                "136e6b3c0b88119e"
            ],
            [
                "941275c40fa56554"
            ]
        ]
    },
    {
        "id": "c47b17d7dfb9f37e",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "(Solution 0) No Signal",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "No Signal",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 960,
        "y": 360,
        "wires": [
            [
                "7e79591cbe275f93"
            ]
        ]
    },
    {
        "id": "1bf2d1ecbd0ad002",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "(Solution 1) Direction Only",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Direction Only",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 970,
        "y": 400,
        "wires": [
            [
                "7e79591cbe275f93"
            ]
        ]
    },
    {
        "id": "136e6b3c0b88119e",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "(Solution 2) Horizontal Displacement Only",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Horizontal Displacement Only",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 440,
        "wires": [
            [
                "7e79591cbe275f93"
            ]
        ]
    },
    {
        "id": "941275c40fa56554",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "(Solution 3) Horizontal & Vertical Displacement ",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Horizontal & Vertical Displacement",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1040,
        "y": 480,
        "wires": [
            [
                "7e79591cbe275f93"
            ]
        ]
    },
    {
        "id": "89deff17274d61fb",
        "type": "switch",
        "z": "cdbb7f15590fac22",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "0",
                "vt": "num"
            },
            {
                "t": "eq",
                "v": "1",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 790,
        "y": 600,
        "wires": [
            [
                "05e024a6927f94e7"
            ],
            [
                "7f2306b5015c568d"
            ]
        ]
    },
    {
        "id": "05e024a6927f94e7",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "Single",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Single",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 930,
        "y": 580,
        "wires": [
            [
                "6baad98c4ea126d7"
            ]
        ]
    },
    {
        "id": "7f2306b5015c568d",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "Complex",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "Complex",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 940,
        "y": 620,
        "wires": [
            [
                "6baad98c4ea126d7"
            ]
        ]
    },
    {
        "id": "594a1b39b40a8621",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Signal Strength & Polarity",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.signalstrength}} \n",
        "output": "str",
        "x": 690,
        "y": 680,
        "wires": [
            [
                "54580669055b5dfb"
            ]
        ]
    },
    {
        "id": "4be5bdcf4bd00e93",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Magnetization or Current",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.magnetization}} \n",
        "output": "str",
        "x": 690,
        "y": 720,
        "wires": [
            [
                "04d4210718d9ef6d"
            ]
        ]
    },
    {
        "id": "5c5373c5064c6039",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Pitch",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.pitch}} \n",
        "output": "str",
        "x": 610,
        "y": 880,
        "wires": [
            [
                "93287493f87b1cb0"
            ]
        ]
    },
    {
        "id": "18755496d82626b7",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Roll",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.roll}} \n",
        "output": "str",
        "x": 610,
        "y": 920,
        "wires": [
            [
                "50b6b1901fd5b083"
            ]
        ]
    },
    {
        "id": "5ee96f4dc9c7b770",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Relative Heading",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.relativeheading}} \n",
        "output": "str",
        "x": 650,
        "y": 960,
        "wires": [
            [
                "c829f6e556951198"
            ]
        ]
    },
    {
        "id": "bc138537f0a8b09f",
        "type": "template",
        "z": "cdbb7f15590fac22",
        "name": "Heading / Gyro",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{payload.absoluteheading}} \n",
        "output": "str",
        "x": 640,
        "y": 1000,
        "wires": [
            [
                "e5a9829f7cc8c39c",
                "b4b039060e7a941a"
            ]
        ]
    },
    {
        "id": "bde88d21a475a54c",
        "type": "serial in",
        "z": "cdbb7f15590fac22",
        "name": "",
        "serial": "7b4a350683eecb2e",
        "x": 270,
        "y": 120,
        "wires": [
            [
                "9b86ca4b9da6618a",
                "b8e7fde28c1c73cf",
                "5488185b62287d18"
            ]
        ]
    },
    {
        "id": "83b42c54a053c283",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "dc06f5f67633d73c",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Operating Mode",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1100,
        "y": 240,
        "wires": []
    },
    {
        "id": "6ca3945457b6fe67",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "2f3ab8d5b56d139e",
        "order": 1,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Date:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 790,
        "y": 120,
        "wires": []
    },
    {
        "id": "c4f66a19e420286b",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "2f3ab8d5b56d139e",
        "order": 3,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Time:",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 790,
        "y": 160,
        "wires": []
    },
    {
        "id": "7e79591cbe275f93",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "58cfb8d9ba1f8b17",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Solution",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1200,
        "y": 320,
        "wires": []
    },
    {
        "id": "6baad98c4ea126d7",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "58cfb8d9ba1f8b17",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Source Type",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1130,
        "y": 580,
        "wires": []
    },
    {
        "id": "54580669055b5dfb",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "d70dc85aa96f3b73",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Signal Strength & Polarity",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1030,
        "y": 680,
        "wires": []
    },
    {
        "id": "04d4210718d9ef6d",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "d70dc85aa96f3b73",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Magnetization (nT) or Current (mA)",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 1060,
        "y": 720,
        "wires": []
    },
    {
        "id": "e5a9829f7cc8c39c",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "72ac9c0a4091bf95",
        "order": 1,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "ROV heading",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 900,
        "y": 1000,
        "wires": []
    },
    {
        "id": "c829f6e556951198",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "72ac9c0a4091bf95",
        "order": 2,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Degrees from \"As Built\" heading",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 950,
        "y": 960,
        "wires": []
    },
    {
        "id": "50b6b1901fd5b083",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "72ac9c0a4091bf95",
        "order": 4,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Roll",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 870,
        "y": 920,
        "wires": []
    },
    {
        "id": "93287493f87b1cb0",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "72ac9c0a4091bf95",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Pitch",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 870,
        "y": 880,
        "wires": []
    },
    {
        "id": "b4b039060e7a941a",
        "type": "ui_gauge",
        "z": "cdbb7f15590fac22",
        "name": "",
        "group": "47d9bfc2db6d44a2",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "compass",
        "title": "ROV",
        "label": "units",
        "format": "{{value}}",
        "min": 0,
        "max": "360",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "className": "",
        "x": 870,
        "y": 1040,
        "wires": []
    },
    {
        "id": "788d383aad1fad39",
        "type": "debug",
        "z": "cdbb7f15590fac22",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 40,
        "wires": []
    },
    {
        "id": "463357126f1d03e7",
        "type": "ui_button",
        "z": "cdbb7f15590fac22",
        "name": "",
        "group": "d69190e2187c99cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Good Data Button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 150,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "2aa7d8ef503782bc",
        "type": "ui_switch",
        "z": "cdbb7f15590fac22",
        "name": "",
        "label": "Good Data Switch",
        "tooltip": "",
        "group": "d69190e2187c99cf",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "eaada97da469f37e"
            ]
        ]
    },
    {
        "id": "17ba262b43f1d198",
        "type": "gate",
        "z": "cdbb7f15590fac22",
        "name": "",
        "controlTopic": "control",
        "defaultState": "open",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memory",
        "x": 270,
        "y": 640,
        "wires": [
            []
        ]
    },
    {
        "id": "b8e7fde28c1c73cf",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "d69190e2187c99cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Original String",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 840,
        "y": 40,
        "wires": []
    },
    {
        "id": "eaada97da469f37e",
        "type": "switch",
        "z": "cdbb7f15590fac22",
        "name": "True or False",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "true",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "false",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 150,
        "y": 360,
        "wires": [
            [
                "66f0d0f7c480c8b8"
            ],
            [
                "962537272bebc19d"
            ]
        ]
    },
    {
        "id": "66f0d0f7c480c8b8",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "set to good data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "good data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 340,
        "wires": [
            [
                "26c01d8768121fde"
            ]
        ]
    },
    {
        "id": "962537272bebc19d",
        "type": "change",
        "z": "cdbb7f15590fac22",
        "name": "set to bad data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "bad data",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "26c01d8768121fde"
            ]
        ]
    },
    {
        "id": "26c01d8768121fde",
        "type": "ui_text",
        "z": "cdbb7f15590fac22",
        "group": "d69190e2187c99cf",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Data Good or Bad",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 570,
        "y": 360,
        "wires": []
    },
    {
        "id": "5488185b62287d18",
        "type": "function",
        "z": "cdbb7f15590fac22",
        "name": " Smartrack String Add Yes",
        "func": "\n//   8 Feb 202211:56:33-4211 8.2000001-0.130.000.000.00 0.00 37074-0.33  3 -125700\n\nlet m = msg.payload\n\nlet day = m.substr(2,2)\nlet month = m.substr(5,3)\nlet year = m.substr(9,4)\nlet hour = m.substr(13,2)\nlet minutes = m.substr(16,2)\nlet seconds = m.substr(19,2)\n\nlet relativeheading = m.substr(21,3)\nlet mode = m.substr(24,1)\nlet solution = m.substr(25,2)\nlet signalstrength = m.substr(26,4)\n\nlet videooverlayhorizontal = m.substr(30,3)\nlet videooverlaydepth = m.substr(33,2)\n\nlet sourcetype = m.substr(35,1)\n\nlet horizontaldisplacement = m.substr(36,5)\nlet horizontalerror = m.substr(41,4)\nlet verticaldisplacement = m.substr(45,4)\nlet verticalerror = m.substr(49,4)\n\n\nlet burial = m.substr(53,5)        // or skids to top\nlet magnetization = m.substr(58,6) // or in active mode current flow\nlet altitude = m.substr(64,5)\nlet pitch = m.substr(69,3)\nlet roll = m.substr(72,3)\nlet absoluteheading = m.substr(75,3)\n\nlet timesplit = m.substr(78,2)\ntimesplit = \"yes\"\nreturn {payload:{day,month,year,hour,minutes,seconds,relativeheading,mode,solution,signalstrength,videooverlayhorizontal,videooverlaydepth,sourcetype,horizontaldisplacement,horizontalerror,verticaldisplacement,verticalerror,burial,magnetization,altitude,pitch,roll,absoluteheading,timesplit\n}}\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 250,
        "y": 480,
        "wires": [
            []
        ]
    },
    {
        "id": "f1fedad6f540bc3a",
        "type": "ui_spacer",
        "z": "cdbb7f15590fac22",
        "name": "spacer",
        "group": "2f3ab8d5b56d139e",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "f5b3b63db0272fc3",
        "type": "ui_spacer",
        "z": "cdbb7f15590fac22",
        "name": "spacer",
        "group": "2f3ab8d5b56d139e",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "58120279560875cd",
        "type": "ui_spacer",
        "z": "cdbb7f15590fac22",
        "name": "spacer",
        "group": "dc06f5f67633d73c",
        "order": 2,
        "width": 2,
        "height": 1
    },
    {
        "id": "7b4a350683eecb2e",
        "type": "serial-port",
        "serialport": "COM1",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "dc06f5f67633d73c",
        "type": "ui_group",
        "name": "Mode",
        "tab": "041f9c023198e42c",
        "order": 4,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f3ab8d5b56d139e",
        "type": "ui_group",
        "name": "Date/Time",
        "tab": "041f9c023198e42c",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "58cfb8d9ba1f8b17",
        "type": "ui_group",
        "name": "Solution & Source Type",
        "tab": "041f9c023198e42c",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d70dc85aa96f3b73",
        "type": "ui_group",
        "name": "Signal Strengths",
        "tab": "041f9c023198e42c",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "72ac9c0a4091bf95",
        "type": "ui_group",
        "name": "ROV Data",
        "tab": "041f9c023198e42c",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "47d9bfc2db6d44a2",
        "type": "ui_group",
        "name": "Guages",
        "tab": "041f9c023198e42c",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d69190e2187c99cf",
        "type": "ui_group",
        "name": "Quality Control",
        "tab": "041f9c023198e42c",
        "order": 1,
        "disp": true,
        "width": "15",
        "collapse": false,
        "className": ""
    },
    {
        "id": "041f9c023198e42c",
        "type": "ui_tab",
        "name": "SmarTrak 80 Char Original ",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
