Template Node Examples.json
[{"id":"b58dbd64.c9f11","type":"tab","label":"1) Template Node Examples","disabled":false,"info":""},{"id":"360735cd.026c1a","type":"group","z":"b58dbd64.c9f11","name":"Example 1 - Most basic example - Wrap the payload in some text","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["4bc0edb3.c1aa24","577013fb.8a3f1c","294f0340.d51fbc","29e114e.ff4d0ec"],"x":74,"y":99,"w":812,"h":142},{"id":"402edc29.35c454","type":"group","z":"b58dbd64.c9f11","name":"Example 4 - Use a template node to declare a global variable and give it some text structure","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["ead791c4.539dd","5ab80cc0.579ab4","34a12671.dad4da","bea10902.66e868","60226cbe.8fa044","df788d79.42224","dd59f962.c333a8","f4e3dfa9.7a8d1","3f34a39e.9f3f4c"],"x":74,"y":819,"w":812,"h":242},{"id":"bea10902.66e868","type":"debug","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":940,"wires":[]},{"id":"9e41610a.d46a","type":"group","z":"b58dbd64.c9f11","name":"Example 2 - Use the template node to wrap text around both payload and topic","style":{"stroke":"#777777","fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["573beb0a.26b964","e1b2fb7b.ceea78","aff0f565.70cf58","1dbc4785.e8dce8","714da7bb.7b5928"],"x":74,"y":279,"w":812,"h":182},{"id":"a8e692e2.50339","type":"group","z":"b58dbd64.c9f11","name":"Example 3 - Use a template node to declare a global variable","style":{"fill":"#ffff7f","label":true,"label-position":"ne","color":"#000000"},"nodes":["b5f36c2a.4bc79","82144c62.0b704","fa9add3b.3f8be","4f265fea.64356","629173c9.ff3bdc","4dcec7c5.424ff8","89e6e8c7.f4c0f8","e278fd47.0b8a5","1089eee4.d5ae81","92564936.325138","43f00858.4be798","70ad825e.1e45bc"],"x":74,"y":499,"w":812,"h":282},{"id":"82144c62.0b704","type":"debug","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":730,"y":620,"wires":[]},{"id":"70ad825e.1e45bc","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":740,"wires":[[]]},{"id":"573beb0a.26b964","type":"inject","z":"b58dbd64.c9f11","g":"9e41610a.d46a","name":"timestamp with topic of Garden","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Garden","payload":"","payloadType":"date","x":250,"y":380,"wires":[["e1b2fb7b.ceea78"]]},{"id":"e1b2fb7b.ceea78","type":"template","z":"b58dbd64.c9f11","g":"9e41610a.d46a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Time in the {{topic}} is {{payload}}","output":"str","x":520,"y":400,"wires":[["aff0f565.70cf58"]]},{"id":"aff0f565.70cf58","type":"debug","z":"b58dbd64.c9f11","g":"9e41610a.d46a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":400,"wires":[]},{"id":"1dbc4785.e8dce8","type":"inject","z":"b58dbd64.c9f11","g":"9e41610a.d46a","name":"timestamp with topic of Kitchen","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"Kitchen","payload":"","payloadType":"date","x":250,"y":420,"wires":[["e1b2fb7b.ceea78"]]},{"id":"b5f36c2a.4bc79","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"Stella","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Stella","payloadType":"str","x":190,"y":580,"wires":[["fa9add3b.3f8be"]]},{"id":"fa9add3b.3f8be","type":"template","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"","field":"favourite_beer","fieldType":"global","format":"handlebars","syntax":"mustache","template":"{{payload}} ","output":"str","x":400,"y":620,"wires":[[]]},{"id":"4f265fea.64356","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"Fosters","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Fosters","payloadType":"str","x":190,"y":620,"wires":[["fa9add3b.3f8be"]]},{"id":"629173c9.ff3bdc","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"Grolsh","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"Grolsh","payloadType":"str","x":190,"y":660,"wires":[["fa9add3b.3f8be"]]},{"id":"4dcec7c5.424ff8","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"IPA","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"IPA","payloadType":"str","x":190,"y":700,"wires":[["fa9add3b.3f8be"]]},{"id":"89e6e8c7.f4c0f8","type":"inject","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"favourite_beer","payloadType":"global","x":500,"y":700,"wires":[["e278fd47.0b8a5"]]},{"id":"e278fd47.0b8a5","type":"debug","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":700,"wires":[]},{"id":"1089eee4.d5ae81","type":"comment","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"1) Use a template Node to set a Global Variable","info":"","x":600,"y":580,"wires":[]},{"id":"92564936.325138","type":"comment","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"2) Then recall that global variable","info":"","x":550,"y":660,"wires":[]},{"id":"43f00858.4be798","type":"comment","z":"b58dbd64.c9f11","g":"a8e692e2.50339","name":"string \"Variables\"","info":"","x":180,"y":540,"wires":[]},{"id":"ead791c4.539dd","type":"comment","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"1) Use a template Node to set a Global Variable within a string","info":"","x":540,"y":900,"wires":[]},{"id":"5ab80cc0.579ab4","type":"random","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","low":"15","high":"28","inte":"true","property":"payload","x":380,"y":940,"wires":[["60226cbe.8fa044"]]},{"id":"34a12671.dad4da","type":"inject","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","props":[{"p":"payload"}],"repeat":"5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":190,"y":940,"wires":[["5ab80cc0.579ab4"]]},{"id":"60226cbe.8fa044","type":"template","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","field":"gargage_temp","fieldType":"global","format":"handlebars","syntax":"mustache","template":"Random garage temperature is {{payload}}","output":"str","x":540,"y":940,"wires":[[]]},{"id":"df788d79.42224","type":"inject","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"gargage_temp","payloadType":"global","x":220,"y":1020,"wires":[["dd59f962.c333a8"]]},{"id":"dd59f962.c333a8","type":"debug","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":770,"y":1020,"wires":[]},{"id":"f4e3dfa9.7a8d1","type":"comment","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"2) Then recall that global variable ","info":"","x":450,"y":980,"wires":[]},{"id":"3f34a39e.9f3f4c","type":"comment","z":"b58dbd64.c9f11","g":"402edc29.35c454","name":"Starts the flow","info":"","x":170,"y":860,"wires":[]},{"id":"4bc0edb3.c1aa24","type":"inject","z":"b58dbd64.c9f11","g":"360735cd.026c1a","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":180,"y":200,"wires":[["577013fb.8a3f1c"]]},{"id":"577013fb.8a3f1c","type":"template","z":"b58dbd64.c9f11","g":"360735cd.026c1a","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"This is the payload: {{payload}} !","output":"str","x":420,"y":200,"wires":[["294f0340.d51fbc"]]},{"id":"294f0340.d51fbc","type":"debug","z":"b58dbd64.c9f11","g":"360735cd.026c1a","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":200,"wires":[]},{"id":"29e114e.ff4d0ec","type":"comment","z":"b58dbd64.c9f11","g":"360735cd.026c1a","name":"Inject Unix timestamp","info":"","x":210,"y":140,"wires":[]},{"id":"714da7bb.7b5928","type":"comment","z":"b58dbd64.c9f11","g":"9e41610a.d46a","name":"Give a timestamp to a topic","info":"","x":230,"y":320,"wires":[]},{"id":"48f8598c.a3d768","type":"comment","z":"b58dbd64.c9f11","name":"Template nodes are primarily designed for formatting text to be used on webpages that use \"markup\" (eg HTML or YAML) butthey are also useful for simply manipulating text with a payload if you want to format it easily before going to a debug or dashboard","info":"https://stevesnoderedguide.com/node-red-template-node","x":730,"y":60,"wires":[]}]